body{
    margin: 0px 0px;
}
.el-header{
    padding: 0px 0px;
}
.title{
    font-family: ‘Times New Roman’, Times, serif;
    font-size: 30px;
}

img.logo_img{
    height: 47px;
    width: 160px;
}
.breadcrumb{
    background-color: white;
    padding: 10px 10px;
}

/*main content*/
.main-container{
    background-color: #F1F2F7;
    padding: 10px 10px;
}
.main-content{
    padding: 10px 0px;
}
.main-view{
    margin: 10px 0px;
}


.el-menu-item.is-active{
    background-color: #EDF5FF;
}
/*加载进度条颜色*/
#nprogress .bar {
    background: #67C23A !important; //自定义颜色
}
