<div class="main-plane">
    <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane name="first">
            <span slot="label"><i class="el-icon-date"></i> 表格</span>
            <el-table
                    :data="tableData"
                    border
                    style="width: 100%">
                <el-table-column
                        prop="date"
                        label="日期"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="姓名"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="地址">
                </el-table-column>
            </el-table>
        </el-tab-pane>
        <el-tab-pane name="second">
            <span slot="label"><i class="el-icon-edit"></i> 文字</span>
            <pre id="code" class="ace_editor" style="min-height:400px"><textarea class="ace_text-input">
         </textarea></pre>
        </el-tab-pane>
        <el-tab-pane label="历史" name="third">历史</el-tab-pane>
    </el-tabs>
</div>


