<div class="main-home">
    <el-button type="text" icon="el-icon-refresh" round @click="refreshEvent" class="refresh"></el-button>
    <el-row :gutter="24" class="row">
        <el-col :span="12">
            <div id="memoryUsageContainer"></div>
            <el-row :gutter="24">
                <el-col :offset="10" class="title">内存使用统计</el-col>
            </el-row>
        </el-col>
        <el-col :span="8" :offset="2">
            <div id="memoryContainer"></div>
            <el-row :gutter="24">
                <el-col :offset="10" class="title">内存使用情况</el-col>
            </el-row>
        </el-col>
    </el-row>
    <el-row :gutter="24" class="row">
        <el-col :span="12">
            <div id="kafkaMonitorContainer"></div>
        </el-col>
        <el-row :gutter="24">
            <el-col :offset="5" class="title">kafka消息统计</el-col>
        </el-row>
    </el-row>
</div>


